 {% extends "base.html" %} 

{% block title %}Blog{% endblock %}

{% block content %}

<h3 align="left">a list of all blog posts.
</h3>
<br/>

<div id="posts"/>
{% for post in posts %}

  <h5 class="card-title"><a style="color:inherit;" href="/post/{{post.post_url}}">{{post.title}}</a></h5>
  {% if user.is_authenticated %}
  <p style="float:left">
    <a href="/edit-post/{{post.id}}">Edit</a>
    <a href="/delete-post/{{post.id}}">Delete</a>
  </p>
  {% endif %}
</div>
<br/>
<br/>
{% endfor %}

{% endblock %}

<!-- "color:inherit; text-decoration: none;" -->